.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 5px;
}

.navbar select {
  padding: 8px;
  border-radius: 8px;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar a {
    margin: 5px 0;
  }
}
