.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navSec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  margin-left: 150px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a {
  font-size: larger;
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.navbar a:first-child {
  margin-left: 0;
}

.navbar input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid black;
  margin-right: 5px;
}

.navbar select {
  padding: 8px;
  border-radius: 8px;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLogoutBtn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar a {
    margin: 5px 0;
  }

  .navSec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .navLinks {
    font-size: small;
    font-weight: 500;
    margin-left: 5px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar > button {
    display: none;
  }

  .mobileLogout {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .navContainer {
    margin-bottom: 15px;
  }
}

@media (min-width: 601px) {
  .mobileLogout {
    display: none;
  }
}
